table {
 	margin: 0 auto; /* Center the table horizontally */
    width: 50%; /* Adjust the width as per your design */
    border-collapse: collapse; /* Eliminate gaps between cells */
    background-color: antiquewhite;
 }

 td, th {
	color: violet;
 	padding: 8px; /* Add some padding inside the cells */
 	margin: 0; /* Ensure no margin is applied to the cells */
    border-collapse: collapse;
 }
 
 h1{
	text-align: center;
 }
 
 span, .red{
	color: red;
 }
